<footer>
    <div class="col-md-9 col-md-offset-2">
        &copy; 2017 All Rights Reserved, <a href="https://creativedesign.rs">Creative Design</a>
    </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="{{js/map.js  | prepend: site.baseurl }}"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- jQuery -->
<script src="{{js/jquery.js | prepend: site.baseurl }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{js/bootstrap.js | prepend: site.baseurl }}"></script>
