<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta content={{site.description}} name="description">
    <meta content={{site.keywords}} name="keywords">
    <meta content="index, follow" name="robots">

    <!-- Custom styles for this template -->
    <link href={{ "assets/css/main.css" | relative_url }} rel="stylesheet">
    <link href={{ "assets/css/blue.css" | relative_url }} rel="stylesheet">
    <link href={{ "assets/css/style.css" | relative_url }} rel="stylesheet">
</head>
  