<div class="col-md-3 col-md-offset-2 col-sm-4 aside">
    <img src="{{ img/img.jpg | prepend: site.baseurl }}">
    <h1>John Doe</h1>
    <h2>Web developer</h2>
    <h3>
        <i aria-hidden="true" class="fa fa-map-marker"></i> New York, NY
    </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <a class="btn" href="#">Download CV</a>

    <div class="social-network">
        <a href="">
            <i aria-hidden="true" class="fa fa-facebook"></i>
        </a>
        <a href="">
            <i aria-hidden="true" class="fa fa-twitter"></i>
        </a>
        <a href="">
            <i aria-hidden="true" class="fa fa-google-plus"></i>
        </a>
        <a href="">
            <i aria-hidden="true" class="fa fa-pinterest-p"></i>
        </a>
        <a href="">
            <i aria-hidden="true" class="fa fa-linkedin"></i>
        </a>
        <a href="">
            <i aria-hidden="true" class="fa fa-dribbble"></i>
        </a>
    </div>
</div>